<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        <p style="color:red">1.v-for</p>
        <!-- for in  -->
        <ul>
            <li v-for="a in arr" v-if="a.age>16" v-text="`姓名:${a.name} 年龄:${a.age}`"></li>
        </ul>
        <p v-for="a in arr" v-text="`姓名:${a.name} 年龄:${a.age}`"></p>

        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a,index) in arr" :key="index" :lemon="index">
                    <td v-text="a.name"></td>
                    <td v-text="a.age"></td>
                </tr>
            </tbody>
        </table>
        <!-- html = arr.map(); -->
    </div>
    <script src="../../js/vue.js"></script>
    <script>
        new Vue({
            el: "#demo",
            data: {
                arr: [{
                    name: "lemon",
                    age: 18
                }, {
                    name: "laotian",
                    age: 17
                }, {
                    name: "laoxie",
                    age: 19
                }]
            }
        })
    </script>
</body>

</html>